<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Payload | Dashboard</title>
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid"> <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
              <a class="brand" href="/">Payload</a>

                <div class="nav-collapse collapse">
                    <ul class="nav">
                        <li class="active"><a class="" href="#" contenteditable="false">Dashboard</a>

                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span2">
                <!--sidebar-->
                <div class="sidebar-nav-fixed" data-spy="affix" data-offset-top="140">
                    <ul class="nav nav-list">
                        <li><a class="" href="#">Dashboard</a>

                        </li>
                        <li><a class="" href="#">Profile</a>

                        </li>
                        <li class="divider"></li>
                        <li><a class="" href="#">Ledger</a>

                        </li>
                        <li><a class="" href="#">Bills</a>

                        </li>
                        <li class="divider"></li>
                        <li><a class="" href="#" contenteditable="false">New Bill</a>

                        </li>
                        <li><a class="" href="#">Sell Bitcoin</a>

                        </li>
                        <li class="divider"></li>
                        <li><a class="" href="#" contenteditable="false">Feedback</a>

                        </li>
                        <li><a class="" href="#" contenteditable="false">Contact</a>

                        </li>
                        <li><a class="" href="#" contenteditable="false">Terms</a>

                        </li>
                        <li><a class="" href="#" contenteditable="false">Privacy Policy</a>

                        </li>
                    </ul>
                </div>
            </div>
            <div class="span3">
                <!--2nd column-->
                <div class="" id="midCol" data-spy="affix" data-offset-top="250">
                    <img class="" src="//placehold.it/300x150/449955/FFF">
                     <h4 class="caption">Image Caption <span class="pull-right"><i class="icon-twitter"></i></span></h4>
                    <hr class="">
                    <img class="" src="//placehold.it/300x150/2255EE/EEE">
                     <h4 class="caption">Image Caption</h4>
                    <hr class="">
                    <img class="" src="//placehold.it/300x150/992233">
                     <h4 class="caption">Image Caption</h4>
                    <hr class="">
                    <img class="" src="//placehold.it/300x150/555555/FFF">
                     <h4 class="caption">Image Caption</h4>
                    <hr class="">
                    <img class="" src="//placehold.it/300x150/d9d9d9/EEE">
                     <h4 class="caption">Image Caption</h4>
                    <hr class="">
                </div>
                <!--/middleCol-->
            </div>
            <!--/span3-->
            <div class="span7">
                <div class="well">
                     <h1 class="">3-Column Layout</h1>

                    <p class="">This is a template example that uses the Bootstrap framework to create
                        a responsive three-column layout. The left column (narrow) contains a sidebar,
                        the center column (mid) contains features with image/caption, and the right
                        column (widest) contains content.</p> <a href="http://www.bootply.com/63275"
                    class="btn btn-primary">Details</a>
     <span class="badge pull-right">100</span>

                </div>
                <div class="well">
                     <h1 class="">Affix</h1>

                    <p class="">This layout utilizes the <b class="">Bootstrap Affix</b> component using
                        data attributes. You can see the Affix plugin in action as you scroll down
                        the page. The leftmost side is "pinned" until 140px is reached, and the
                        middle column is un-pinned once 250px is reached. See the CSS <code class="">.affix</code> and
                        <code
                        class="">.affix-top</code>classes to see how this works.</p>
                    <button class="btn">Details</button>
                </div>
                <div class="well">
                     <h1 class="">Bootply</h1>

                    <p class="">This example layout is compliments of Bootply -- the Bootstrap playground.
                        Bootply lets you play with JavaScript, HTML, CSS and Bootstrap in a simple
                        Web-based editor. Bootply enables you to easily include popular libraries,
                        plugins, extensions and frameworks such as jQuery, FontAwesome, AngularJS,
                        FuelUX and Google Maps.</p> <a href="http://www.bootply.com" class="btn">Details</a>
                </div>
                <div class="well">
                     <h1 class="">HTML5 / CSS3</h1>

                    <p class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra
                        varius quam sit amet vulputate. Quisque mauris augue, molestie tincidunt
                        condimentum vitae, gravida a libero. Aenean sit amet felis dolor, in sagittis
                        nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor
                        accumsan. <a class="" href="http://www.bootply.com/63275">Edit this on Bootply</a>.</p>
                    <button
                    class="btn">Details</button>
                </div>
                <div class="well">
                     <h1 class="">Snippets</h1>

                    <p class="">Bootply is also a collaborative tool that enables sharing of snippets.
                        There is a repository of more than 1000 Bootstrap-ready code snippets.
                        Find code snippets demonstrate common Bootstrap components such as the
                        carousel (sliders), modal, typeahead, navbar, typography, buttons, tabs
                        and icons.</p> <a href="http://www.bootply.com" class="btn">Details</a>
                </div>
                <div class="well">
                    <p class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra
                        varius quam sit amet vulputate. Quisque mauris augue, molestie tincidunt
                        condimentum vitae, gravida a libero. Aenean sit amet felis dolor, in sagittis
                        nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor
                        accumsan. Aliquam in felis sit amet augue.</p>
                    <button class="btn">Details</button>
                </div>
            </div>
        </div>
    </div>
  </body>
</html>
