<!doctype html>
<html ng-app="payload">

<head>
    <title>Payload</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <!-- load bootstrap -->

    <!-- SPELLS -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <!-- load jquery -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
    <!-- load angular -->
    <script src="core.js"></script>

    <!-- style -->
    <style>
        table,
        th,
        td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        
        th,
        td {
            padding: 5px;
        }
        
        body {
            background-color: "#f9f8f8";
        }
        
        .color {
            color: #47b6d4;
        }
    </style>

</head>

<body ng-controller="ledgerController">
    <!-- Top Navbar -->

    <div class="jumbotron text-cente color" style="background-color:#6e6e6e">
        <h1 style="text-align:center">Payload</h1>
    </div>
    <div class="row">
        <!-- LOCAL INFORMATION -->
        <div class="col-sm-2" style="padding-left:40px">
            <h3><span class="fa fa-user"></span>Name : <%= user.name %> </h3>
            <p>
                <strong>ID </strong>:
                <%= user.id %>
            </p>
        </div>
    </div>
    <div align="center">
        <br>
        <table style="width:60%; text-align:center">
            <tr>
                <th style="text-align:center">
                    <h3>From</h3></th>
                <th style="text-align:center">
                    <h3>To</h3></th>
                <th style="text-align:center">
                    <h3>Reference Id</h3></th>
                <th style="text-align:center">
                    <h3>Rate</h3></th>
                <th style="text-align:center">
                    <h3>Amount</h3></th>
                <th style="text-align:center">
                    <h3>Currency</h3></th>
            </tr>
            <tr ng-repeat="todo in todos">
                <td>{{ ledger.from }}</td>
                <td>{{ ledger.to }}</td>
                <td>{{ ledger.refId }}</td>
                <td>{{ ledger.rate }}</td>
                <td>{{ ledger.amount }}</td>
                <td>{{ ledger.currency }}</td>
            </tr>
        </table>
        <br>
        <br>
    </div>
</body>

</html>