<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Payload | Payment Tools </title>
<link rel="shortcut icon" href="http://www.favicon-generator.org/favicon-generator/htdocs/favicons/2015-07-30/7279aa97a8953329f7d7369ca1953d22.ico"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link href="css/bootstrap.css" rel="stylesheet" type="text/css">



</head>
	

<body style="background-color:#f3f3f3">

<div class="container" style="margin-top:40px ">


<div style="padding-left:15% ; padding-right:15%">

<h4 style="color:#002855">Namecheap.com</h4>

<div class="col-lg-6" style="background-color:#fff ; padding-left:15px ; float:left">
<img src="../../../Downloads/favicon.ico">
<div align="center">

<h4 style="color:#002855">Add funds to your <br> Namecheap.com account</h4>
<br>
<br>

<div class="col-lg-6" style="float:left" align="right">
<h4 style="color:#426d9c">Paid</h4>
<h4 style="color:#426d9c">0.040000</h4>
<h4 style="color:#426d9c">BTC</h4>
</div>

<div class="col-lg-6" style="float:right" align="left">
<h4 style="color:#002855">Due</h4>
<h4 style="color:#002855">0.003670</h4>
<h4 style="color:#002855">BTC</h4>

</div>

<div class="col-lg-12">
<img style="margin-top:20px" src="../web/website/images/bit.png">
<div id="button"  class="btn" style="background-color:#426d9c ; height:40px ; width:150px ; margin-top:20px ; color:#fff">Pay with Bitcoin
</div>
<br>
<br>
</div>

<h6 style="margin-bottom:55px">ndnfkjsfsmkmklfmsmWMElkndfkj</h6>

</div>

</div>

<div class="col-lg-6" style="float:right">
	    <img id="qr" />
</div>

<div style="margin-top:410px">
 
  <div class="progress">
    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:60% ; height:4px">
    
    </div>
  </div>
</div>
<div class="col-lg-6">


<h5 class="col-lg-6" style="color:#002855 ; float:left">timer</h5>
</div>

<div class="col-lg-6">
<h5 class="col-lg-6" style="color:#002855 ; float:right">0.4789BTC = 10.00 USD</h5>
</div>
<!-- Second part -->

<div class="col-lg-4" style="float:left">
<h3>Namecheap.com</h3>

<h5 align="justify" style="padding-left:20px">1140 W. Olypmic Blvd. Suite 200 Los Angeles, CA 90064 United States.</h5>

</div>


<div class="col-lg-5" style="float:right ; background-color:#fff">

<h4 class="col-lg-3" style="color:#002855 ; float:left ; padding-left:10px">1615019-37982173980890</h4>
<h4 style="color:#002855 ; float:right ; padding-left:10px">USD</h4>

<br>
<br>

<h5 class="col-lg-3" style="color:#002855 ; float:left ; padding-left:10px">Add funds to your Namecheap.com account</h5>
<h5 style="color:#002855 ; float:right">$10 </h5>

<div id="button"  class="btn" style="background-color:#426d9c ; height:40px ; width:300px ; color:#fff ; float:right ; margin-top:30px">$10</div>
<h3 style="color:#002258  ; margin-top:100px" align="center" >Thank You </h3>

</div

></div>
</body>

</html>


<script>

    document.getElementById("qr").src = "https://chart.googleapis.com/chart?cht=qr&chs=400x400&chl=%20bitcoin%3A" + "<%= address %>" + "%3Famount%3D" + "<%= amount %>";
    console.log(document.getElementById("myimage").src);
</script>
