<html ng-app="payload">

<head>
    <title>Payload</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <!-- load bootstrap -->

    <!-- SPELLS -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <!-- load jquery -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
    <!-- load angular -->
    <script src="core.js"></script>

    <!-- style -->
    <style>
        table,
        th,
        td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        
        th,
        td {
            padding: 5px;
        }
        
        body {
            background-color: "#f9f8f8";
        }
    </style>

</head>

<body ng-controller="mainController">

   

    <!-- Top Navbar -->

    <nav class="navbar navbar-basic" style="background-color:#4e5f6f ; height:80px">
        <div class="container-fluid">

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="inverseNavbar1">

                <ul class="nav navbar-nav">
                    <a class="navbar-brand"><img src="images/new.png" alt="payload"></a>
                </ul>

                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </div>
    </nav>
    
     <% if (message.length > 0) { %>
        <div class="alert alert-success"><%= message %></div>
    <% } %>
    
     <div class="col-lg-12" align="center" style="height:80px">
            <div class="col-lg-5" style="margin: 0 auto;float:none; border: 2px solid #4E5F6F; border-radius: 10px">
                <%= user.id %>
                <br>
                <%= user.email %>
            </div>
    </div>
    
    <div class="jumbotron text-center">
        <h1>Invoices are : <span class="label label-info">{{ invoices.length}}</span></h1>
    </div>
    
   

    <div align="center" class="col-lg-12">

        <h1>Balance:<%= user.amount %></h1>

        <br>
        <br>
        <table style="width:60%; text-align:center">
            <tr>
                <th style="text-align:center" rowspan="2">
                    <h3>Date</h3></th>
                <th style="text-align:center" rowspan="2">
                    <h3>Id</h3></th>
                <th style="text-align:center" colspan="2">
                    <h3>Amount</h3></th>
                <th style="text-align:center" rowspan="2">
                    <h3>Status</h3></th>
            </tr>
            <tr>
                <th style="text-align:center">
                    <h5>BTC</h5></th>
                <th style="text-align:center">
                    <h5>PKR</h5></th>
            </tr>
            <tr ng-repeat="invoice in invoices">
                <td>{{ invoice.createdAt}}</td>
                <td>{{ invoice.id }}</td>
                <td>{{ invoice.price}}</td>
                <td>{{ invoice.amount }}</td>
                <td>{{ invoice.status }}</td>
            </tr>
        </table>
        <br>
        <br>
               
        <a href="/profile"><button class="btn btn-primary">Profile </button></a> 
        <a href="/ledgers"><button class="btn btn-primary">Ledger </button></a> 
        <% if(user.verified === 'unverified') { %>
            <a href="/kyc"><button class="btn btn-primary">Info form</button></a> 
        <% } %>
        <a href="/sell"><button class="btn btn-primary">Sell Bitcoins </button></a> 
        <a href="/logout"><button class="btn btn-warning">Logout </button></a>
    </div>
</body>
</html>