<!doctype html>
<html ng-app="payload">

<head>
    <title>Payload</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <!-- load bootstrap -->
    
    <script src="js/jquery.js"></script>

    <!-- style -->
    <style>
        body {
            background-color: "#f9f8f8";
        }
        
        .color {
            color: #47b6d4;
        }
    </style>

</head>



<body ng-controller="transactionController">
    <!-- Top Navbar -->

    <div class="jumbotron text-cente color" style="background-color:#6e6e6e">
        <h1 style="text-align:center">Payload</h1>
    </div>


    <img id="myimage" align="center" />
        <div style="text-align:center">
        <h3>Scan to Make Payment</h3>
    </div>
    <br>
    <br>
    <br>
    <div align="center">
        <label>BTC | PKR </label><br>
        <label>
            <%= amount %> |
                <%= price %>
        </label>
        <br>
        <br>
          <a href="/profile">Home</a>
    </div>
</body>

</html>

<script>
    document.getElementById("myimage").src = "https://chart.googleapis.com/chart?cht=qr&chs=400x400&chl=%20bitcoin%3A" + "<%= address %>" + "%3Famount%3D" + "<%= amount %>";
    console.log(document.getElementById("myimage").src);
</script>