<!doctype html>
<html ng-app="payload">

<head>
    <title>Payload</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <!-- load bootstrap -->

    <!-- SPELLS -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <!-- load jquery -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
    <!-- load angular -->
    <script src="core.js"></script>

    <!-- style -->
    <style>
        
        body {
            background-color: "#f9f8f8";
        }
		.color{
			color:#47b6d4;
			}
    </style>

</head>



<body ng-controller="mainController">
    <!-- Top Navbar -->
   
  <div class="jumbotron text-cente color" style="background-color:#6e6e6e">
        <h1  style="text-align:center">Payload</h1>
  
    </div>
    
    
    <div align="center">
    <img src=""  height="400" width="400">
    
    </div>
<br>
<br>
<br>
<div align="center">
	<label>BTC | PKR </label>>
    
    <br>
    <br>
    <button>OK</button>
 </div>
   
</body>

</html>
