<!doctype html>
<html>
<head>
	<script src="js/jquery-1.11.2.min.js" type="text/javascript"></script>
    <script src="js/bootstrap.js" type="text/javascript"></script>
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="css/bootstrap.css" rel="stylesheet" type="text/css">
</head>

<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
}
</style>
<body bgcolor="#f9f8f8">
<!-- Top Navbar -->
<nav class="navbar navbar-basic" style="background-color:#4e5f6f ; height:80px"  >
<div class="container-fluid">
    
    <!-- Collect the nav links, forms, and other content for toggling -->
   <div class="collapse navbar-collapse" id="inverseNavbar1">
   
        <ul class="nav navbar-nav">
        <a class="navbar-brand"><img src="images/new.png" alt="payload"></a>         
     </ul>
       
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
  </div>
 
</nav>

	
<div style="margin-top:40px ; margin-left:40px" class="col-lg-2">
	
    <img class="img-circle col-lg-10" src="images/bit.png" alt="image">
    
</div>	

<div align="center" class="col-lg-12">
	
    <h1>Balance:</h1>
    
    <br>
    <br>
	<table style="width:60%; text-align:center">
  <tr>
    <th style="text-align:center" rowspan="2"><h3>Date</h3></th>
    <th style="text-align:center" rowspan="2"><h3>Id</h3></th>
    <th style="text-align:center" colspan="2" ><h3>Amount</h3></th>
    <th style="text-align:center" rowspan="2"><h3>Status</h3></th>
  </tr>
 
  <tr>
    
    <th  style="text-align:center"><h5>BTC</h5></th>
    <th  style="text-align:center"><h5>PKR</h5></th>		

    
  </tr>
 
  <tr>
    <td>5-11-2015</td>
    <td></td>
    <td></td>
     <td></td>		
    <td>Pending</td>
  </tr>
 
 
</table>

    
 <br>
 <br>
    <button type="submit">SELL </button>

</div>
 
</body>
</html>